@import "color.css";

@font-face {
    font-family: 'PageFont';
    src: url('fonts/lxgwwenkaigbscreen.woff') format('truetype');
}

body{
    font-family: 'PageFont', sans-serif;
    background-color: var(--app-bk);
}

button{
    font-family: 'PageFont', sans-serif;
}

input{
    font-family: 'PageFont', sans-serif;
}

.app{
    width: 100%;
    height: auto;
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    background-color: var(--app-bk);
    /* border: 1px solid; */
}

.title-box{
    width: calc(90% - 20px);
    position: relative;
    top: 10px;
    left: calc(5% - 10px);
    font-size: 40px;
}

.empty-area{
    position: relative;
    height: 20px;
}

.main-box{
    width: calc(90% - 20px);
    height: auto;
    position: relative;
    top: 20px;
    left: calc(5% - 10px);
    border: 1px solid var(--line);
    background-color: var(--c0);
    padding-left: 10px;
    padding-right: 10px;
}

.box-title{
    font-size: 20px;
}

input{
    font-size: 16px;
    height: 25px;
    width: 400px;
    border: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    background-color: var(--def-input-area);
}

.sql-result{
    width: 100%;
    height: 500px;
    background-color: var(--c1);
    text-align: left;
    overflow: auto;
}


.btn-blue{
    width: 100px;
    height: 25px;
    position: relative;
    font-size: 16px;
    border: none;
    outline: none;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--button-color);
    color: #fff;
}

.btn-blue:hover{
    background-color: var(--button-hover-color);
}
