@import "color.css";

@font-face {
    font-family: 'PageFont';
    src: url('fonts/lxgwwenkaigbscreen.woff') format('truetype');
}

body{
    font-family: 'PageFont', sans-serif;
    background-color: #fff;
}

button{
    font-family: 'PageFont', sans-serif;
}

.app{
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--app-bk);
    overflow: hidden;
    /* border: 1px solid; */
}

.left-bar{
    width: 250px;
    height: 100vh;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    /* border: 1px solid #000; */
}

.left-bar-line{
    width: 0px;
    height: 100vh;
    position: relative;
    top: -100%;
    left: 250px;
    border: 1px solid var(--line);
}

.left-bar-item{
    width: 250px;
    height: 60px;
    position: relative;
    padding: 10px;
    /* border: 1px solid #999; */
    border: none;
    background-color: var(--chat-side-bar);
}

.left-bar-item:hover{
    background-color: var(--chat-side-bar-hover);
}

.content{
    width: calc(100% - 251px);
    height: 100%;
    position: relative;
    left: 251px;
    top: -200%;
    overflow: hidden;
}

.content-frame{
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}