/* :root{
    --login-bg-color: darkslategrey;
    --button-color: #28e;
    --button-hover-color: #06c;
    --theme-color-a: #d6e6f2;
    --theme-color-b: #b9d7ea;
} */

:root{
    /* 登录页背景 */
    --login-bg-color: darkslategrey;
    /* 按钮 */
    --button-color: #28e;
    /* 按钮，鼠标悬浮 */
    --button-hover-color: #06c;
    /* 主题色1 */
    --theme-color-a: #f2f2f2;
     /* 主题色2  */
    --theme-color-b: #e2e2e2;
    /* 页面背景 */
    --app-bk: #f2f2f2;
    /* 消息区标题 */
    --message-head-area: #f2f2f2;
    /* 消息区内容 */
    --message-body-area: #f2f2f2;
    /* 消息区编辑框 */
    --message-input-area: #f2f2f2;
    /* 分界线 */
    --line: #e2e2e2;
    /* 列表 */
    --chat-side-bar: #fff;
    /* 列表,鼠标悬浮 */
    --chat-side-bar-hover: #f2f2f2;
    /* 菜单 */
    --side-bar: #f2f2f2;
    /* 菜单,鼠标悬浮 */
    --side-bar-hover: #e2e2e2;
}
